{% extends 'base/base.html' %}

{% block content %}

    <h2>Create token</h2>
    
    {% from "_macro.html" import renderizo_formulario %}
    
    <form name="createToken" id="createForm" method="POST">
        <p>{{ renderizo_formulario(form.name, class="form-control", placeholder="introduce name") }}</p>
        <p>{{ renderizo_formulario(form.description, class="form-control", maxlength="50", placeholder="introduce description") }}</p>
        <p>{{ renderizo_formulario(form.amount, class="form-control", placeholder="introduce amount") }}</p>
        <p>{{ renderizo_formulario(form.decimals, class="form-control", placeholder="introduce decimals") }}</p>
        <div class="form-group mt-3">
            <a href="/"><button type="button" class="btn btn-secondary"><i class="bi bi-backspace-fill"></i> Menu</button></a>
            <button type="submit" class="btn btn-info text-white">Create <i class="bi bi-file-earmark-plus-fill"></i></button>
        </div>
    </form>

    <hr class="text-black">

    <ul class="list-group">
        <li class="list-group-item"><i class="bi bi-file-earmark-binary-fill"></i> idTx → </strong> {{ idTx }}</li>
        <li class="list-group-item"><i class="bi bi-coin"></i> Name → </strong> {{ name }}</li>
        <li class="list-group-item"><i class="bi bi-body-text"></i> Description → </strong> {{ description }}</li>
        <li class="list-group-item"><i class="bi bi-calculator-fill"></i> Amount → </strong> {{ amount }}</li>
        <li class="list-group-item"><i class="bi bi-rulers"></i> Decimals → </strong> {{ decimals }}</li>
    </ul>

{% endblock%}
    