{% extends 'base/base.html' %}

{% block content %}
    
    <h2>Send $ERG to wallet</h2>
    
    {% from "_macro.html" import renderizo_formulario %}

    <form name="sentMessage" id="contactForm" method="POST">
            {{ renderizo_formulario(form.wallet_address, class="form-control", placeholder="introduce wallet") }}   
            {{ renderizo_formulario(form.amount, class="form-control", placeholder="introduce amount") }}
            <div class="form-group mt-3">
            <a href="/"><button type="button" class="btn btn-secondary"><i class="bi bi-backspace-fill"></i> Menu</button></a>
            <button type="submit" class="btn btn-info text-white">Send <i class="bi bi-send-check-fill"></i></button>
            </div>
    </form>
    
    <hr class="text-black">

    <ul class="list-group">
        <li class="list-group-item"><i class="bi bi-file-earmark-binary-fill"></i> idTx → </strong> {{ idTx }}</li>
        <li class="list-group-item"><i class="bi bi-wallet-fill"></i> Wallet → </strong> {{ wallet_address }}</li>
        <li class="list-group-item"><i class="bi bi-calculator-fill"></i> Amount → </strong> {{ amount }}</li>
    </ul>
    
{% endblock%}
    